<mat-toolbar color="primary">
  <div>Site do Lucas</div>
  <div fxFlex fxLayout fxLayoutGap="10px" fxLayoutAlign="flex-end center" >
    <div *ngIf="!authService.user"><a routerLink="/login">Login</a></div>
    <div class="cadastro" fxLayout="column" fxLayoutAlign="center center" *ngIf="!authService.user">
      <div id="cad1">
        <span>Não é cadastrado?</span>
      </div>
      <div id="cad2">
        <a routerLink="/cadastro">Cadastre-se agora</a>
      </div>
    </div>
    <div *ngIf="authService.user"><a (click)="onLogout()">Logout</a></div>
  </div>
</mat-toolbar>
